<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicApp">
        <activity
            android:name=".activities.crud.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.crud.UserCRUDActivity"
            android:exported="false" />
        <activity
            android:name=".activities.crud.CountryCRUDActivity"
            android:exported="false" />
        <activity
            android:name=".activities.crud.GenreCRUDActivity"
            android:exported="false" />
        <activity
            android:name=".activities.crud.SongCRUDActivity"
            android:exported="true" />
        <activity
            android:name=".activities.crud.ArtistCRUDActivity"
            android:exported="true" />
        <activity
            android:name=".activities.crud.SongUploadActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ListSongActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SimplePlayerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FirstTimeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.crud.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:exported="true" />

        <receiver android:name=".services.NotificationActionService" />

        <service android:name=".services.OnClearFromRecentService" />
    </application>

</manifest>